
$arrow = 10px
$background = rgba(255,255,255,.7)
$color = #000

#qtip
	background $background
	box-shadow 0 1px 1px rgba(0,0,0,.1)
	color $color
	display block
	opacity 0
	padding 10px 14px
	position absolute
	-webkit-transition .2s linear
	-webkit-transition-property opacity, -webkit-transform

	&.visible
		opacity 1
		-webkit-animation Grow .3s

	// arrow
	&:before
		border $arrow solid transparent
		border-bottom-color $background
		content ""
		margin-top ($arrow/2)
		margin-left -($arrow)
		position absolute
		left 50%
		bottom 100%

@-webkit-keyframes Grow

	0%
		-webkit-transform scale(.7)

	40%
		-webkit-transform scale(1.2)

	70%
		-webkit-transform scale(.9)

	100%
		-webkit-transform scale(1)